<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CampusReplyMapper">

	<insert id="insert">
		insert into campus_reply(r_no, b_no, r_content, r_replyer, r_sysdate) values(CAMPUS_REPLY_SEQUENCE.nextval,#{b_no},#{r_content},#{r_replyer},sysdate)
	</insert>

	<select id="read" resultType="com.spring.domain.CampusReplyVO">
		select * from campus_reply where r_no = #{r_no}
	</select>

	<update id="update">
		update campus_reply set r_content = #{r_content} where r_no = #{r_no}
	</update>

	<delete id="delete">
		delete from campus_reply where r_no = #{r_no}
	</delete>

	<delete id="deleteAll">
		delete from campus_reply where b_no=#{b_no}
	</delete>

	<!-- 댓글 페이지 처리 -->
	<select id="list" resultType="com.spring.domain.CampusReplyVO">
	
	<![CDATA[
		select * 
		from (select rownum rn, b_no, r_no, r_replyer, r_content, r_sysdate
			from(select b_no, r_no, r_replyer, r_content, r_sysdate from campus_reply where r_no > 0 AND b_no = #{b_no} order by r_no desc) 
			where rownum <= (#{r_page}*10))
		where rn > ((#{r_page}-1)*10)
	]]>
	
	</select>
	
<!-- 하나의 글번호에 대한 전체 댓글 게시물 수 -->

	<select id="getCountByBno" resultType="int">
		select count(*) from campus_reply where b_no = #{b_no}
	</select>
	
</mapper>