<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CampusBoardAttachMapper">

	<!-- insert -->
	<insert id="insert">
		insert into campus_attach(a_uuid, a_path, a_name, a_type, b_no) values(#{a_uuid}, #{a_path}, #{a_name}, 1, #{b_no})
	</insert>
	
	<!-- delete bno 일치시-->
	<delete id="delete">
		delete from campus_attach where b_no = #{b_no}
	</delete>	
	
	<!-- select (findByBno) bno 일치시 (AttachFileDTO 이용) -->
	<select id="findByBno" resultType="com.spring.domain.CampusAttachFileDTO">
		select * from campus_attach where b_no = #{b_no}
	</select>
	
	<!-- 전일자 첨부파일 리스트 -->
	<select id="getOldFiles" resultType="com.spring.domain.CampusAttachFileDTO">
		select * from campus_attach where a_path = to_char(sysdate-1,'yyyy\mm\dd')
	</select>
	
	

</mapper>