<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">

	<!-- 회원가입(insert)-->
	<insert id="insert">
		insert into CAMPUS_USER(u_userid, u_password, u_username, u_email, u_phone, u_address)
		values(#{u_userid}, #{u_password}, #{u_username}, #{u_email}, #{u_phone}, #{u_address})
	</insert>
	
	<select id="login" resultType="com.spring.domain.LoginVO">
		select u_userid, u_password from CAMPUS_USER where u_userid = #{u_userid} and u_password = #{u_password}
	</select>
	
	<!-- 중복된 아이디 검사: dupId -->
	<select id="dupId" resultType="com.spring.domain.MemberVO">
		select u_userid from CAMPUS_USER where u_userid = #{u_userid}
	</select>
	

</mapper>