@charset "UTF-8";

	#titleArea h3 {
		margin-top: 50px;
		padding: 0 40px 0;
		line-height: 43px;
		font-size: 30px;
		text-align: center;
	}
	
	.gong {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	
	.gong2 {
		margin-top: 150px;
		margin-bottom: 150px;
	}
	
	#calendar {
		float: left;
		width: 33%;
		height: 450px;
		margin: 1rem !important;
	}
	
	.camping img{
		/*float: right;*/
		width: 50px;;
		height:500px;
	}
	.camp reservation{
		float:right;
	}
	.change_info strong{
		padding:10px;
	}
	.change_info ul li {
		text-align: left;
		font-size:12px;
		font-family: noto sans;
   		color: #333;
    	letter-spacing: -.5px;
	}