@charset "UTF-8";

.cart_page {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 55px 0 46px;
}

.cart_page h2.cart {
    font-weight: 800;
    font-family: noto sans;
    font-size: 30px;
    color: #333;
    line-height: 50px;
    text-align: center;
    letter-spacing: -.5px;
}


.cartlist#cartItemList {
    min-height: 545px;
}

.cartlist {
    width: 1100px;
    margin: 0 auto;
}
.cartlist * {
    font-family: Noto Sans;
    letter-spacing: 0;
}
.cartlist .c_item {
    float: left;
    width: 800px;
}
.c_item {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.cartlist .c_select {
    position: static;
    height: auto;
}
.c_select {
    position: relative;
    z-index: 2;
    height: 46px;
}
.cartlist .c_select .innerselect {
    position: static;
    padding: 0 10px 0 2px;
    border-bottom: none;
}
.c_select .innerselect {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.cartlist .c_select .check {
    padding: 18px 0 17px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -.3px;
}

.cart_select .check {
    float: left;
    padding: 11px 0 10px;
}

label {
    font-size: 16px;
    line-height: 24px;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
input {
    line-height: normal;
}



.cartlist .c_select .btn_delete {
/*     padding: 18px 0 17px 20px; */
    font-weight: 700;
/*     line-height: 25px; */
    background-color:transparent;
    border : 0;
    margin-left:10px;
}
.c_select .btn_delete {
    padding: 11px 0 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.cartlist .box {
    border-top: 1px solid #333;
}

.only_pc .box .btn_dropup {
    display: block;
    overflow: hidden;
    float: right;
    width: 30px;
    height: 30px;
    border: 0;
    background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_dropup.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}
.box .btn_dropup {
    display: none;
}

.cartlist .box .list li {
    padding-left: 0;
}
.cartlist .box .list li .item {
    overflow: hidden;
    min-height: 128px;
    padding: 0;
}
.box .list li:first-child .item {
    border-top: 0;
}
.box .list li .item {
    position: relative;
    padding: 23px 36px 20px 0;
    border-top: 1px solid #f4f4f4;
}
.cartlist .box .list li .check {
    left: 2px;
    top: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    padding: 0;
}

.box .list li .check {
    position: absolute;
    left: -56px;
    top: 0;
    width: 56px;
    height: 66px;
    padding: 20px 0 0 20px;
}
.cartlist .box .list li .c_name {
    display: table;
    width: 463px;
    min-height: 128px;
    padding: 19px 0 18px 136px;
}
.cartlist .box .list li .c_name .innername {
    display: table-cell;
    vertical-align: middle;
}

.cartlist .box .list li .c_name .package {
    overflow: hidden;
    max-height: 54px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.box .list li .c_name .package {
    display: block;
    max-height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    word-break: break-all;
}
.cartlist .box .list li .c_name .info {
    overflow: hidden;
}
.cartlist .box .list li .goods {
    overflow: visible;
    height: 100%;
    padding-top: 0;
}

.cartlist .list li .goods {
    overflow: hidden;
    padding-top: 14px;
}
.cartlist .box .list li .goods .c_img {
    position: absolute;
    left: 56px;
    top: 50%;
    margin-top: -39px;
}
.box .list li .goods .c_img {
    overflow: hidden;
    float: left;
    width: 60px;
    height: 78px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #f4f4f4;
    font-size: 0;
    text-indent: -9999px;
}
.box .list li .goods .price {
    overflow: hidden;
    padding-left: 20px;
}
.cartlist .box .list li .goods .price .in_price {
    position: absolute;
    right: 49px;
    top: 50%;
    width: 116px;
    transform: translateY(-50%);
}
.cartlist .box .list li .goods .price .in_price .selling {
    font-weight: 700;
    font-size: 16px;
    text-align: right;
}

.cartlist .box .list li .goods .price .count {
    position: absolute;
    left: 473px;
    top: 50%;
    margin-top: -13px;
}
.cartlist .stamper {
	float:left;
    width: 88px;
    height: 30px;
    border-radius: 3px;
}

.stamper, .stamper .btn {
    overflow: hidden;
    height: 36px;
}
.stamper {
    width: 101px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
.btn.minus.off {
    background-image: url("/resources/main/images/remove.png");
}
.cartlist .stamper .btn.minus, .cartlist .stamper .btn.minus,.btn.plus {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px, 18px;
    background-position: 50% 50%;
}

.stamper .btn.minus{
    background-image: url("/resources/main/images/remove.png");
}

.stamper .btn.minus, .stamper .btn.plus {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 50% 50%;
}
.cartlist .stamper .btn {
    width: 26px;
    height: 27px;
}
.stamper .btn.plus {
    background-image: url("/resources/main/images/plus.png");
}
.stamper .btn {
    float: left;
    width: 35px;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
}
.stamper, .stamper .btn {
    overflow: hidden;
    height: 20px;
}
.btn {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    outline: none;
}
button {
    outline: none;
}
body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05;
}
.cartlist .stamper .num {
    width: 35px;
    height: 30px;
    padding-bottom: 4px;
    font-weight: 400;
    line-height: 18px;
}
.stamper .num {
    float: left;
    height: 36px;
    margin-right: -1px;
    padding: 0;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    text-align: center;
}

user agent stylesheet
input[type="number" i] {
    padding: 1px 2px;
}


ol, ul {
    list-style-type: none;
}

.stamper .btn {
    float: left;
    width: 35px;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
}
.stamper, .stamper .btn {
    overflow: hidden;
    height: 36px;
}

.btn {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    outline: none;
}
.cartlist .box .list li .btn_delete {
    right: 5px;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -13px;
    border: 0;
    background-image: url();
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}
.box .list li .btn_delete {
    overflow: hidden;
    position: absolute;
    right: -22px;
    top: 4px;
    width: 56px;
    height: 56px;
    padding: 22px 24px;
    border: 0;
    background-image: url();
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}
.cartlist .cart_result {
    position: relative;
    float: right;
    width: 284px;
}
.cartlist .cart_result .innerresult {
    position: absolute;
    right: 0;
    top: 60px;
    width: 284px;
    background-color: #fff;
}
.cartlist .cart_delivery {
    padding: 23px 19px 20px;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

.cart_delivery {
    position: relative;
    z-index: 3;
}
.cartlist .cart_delivery .addr {
    padding-left: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.3px;
    background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_location.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 50%;
}
.cartlist .cart_delivery .address {
    position: static;
    padding: 11px 0 0;
    font-weight: 700;
    font-size: 16px;
    color: #333;
    line-height: 24px;
}

.cartlist .cart_delivery .btn {
    display: block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
}
.btn.default {
	margin-top : 30px;
    border: 1px solid #78c2ad;
    background-color: #fff;
    color: #78c2ad;
}
.cartlist .amount_view {
    padding: 9px 18px 18px 20px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
}
.cartlist .btn_submit {
    position: static;
    padding: 20px 0 0;
    background: 0 0;
}

.cartlist .box .list li .goods .price .in_price {
    position: absolute;
    right: 49px;
    top: 50%;
    width: 116px;
    transform: translateY(-30%);
}
.cartlist .box .list li .goods .price .in_price {
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
}
.cartlist .amount_view .amount.lst .tit {
    padding-top: 2px;
}
.cartlist .amount_view .amount .tit {
    float: left;
    width: 80px;
    font-weight: 400;
    letter-spacing: -.5px;
}
.amount_view .amount.lst .tit {
    padding-top: 2px;
}
.amount_view .amount .tit {
    float: left;
    width: 90px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}
.cartlist .amount_view .amount .price {
    float: right;
}
.amount_view .amount .price {
    float: right;
    line-height: 24px;
    text-align: right;
}
.cartlist .amount_view .amount .price .num {
    font-weight: 700;
}
.cartlist .amount_view .amount .price .num {
    letter-spacing: -.5px;
}

.amount_view .amount .price .num {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
 .cartlist .btn_submit {
    position: static;
    padding: 20px 0 0;
    background: 0 0;
}
.cartlist .btn_submit .btn.disabled, .cartlist .btn_submit .btn:disabled {
    color: black;
}
.btn.disabled, .btn:disabled {
    background-color: #ddd;
    color: #fff;
    cursor: default;
}
.cartlist .btn_submit .btn {
    height: 56px;
    padding-bottom: 2px;
    margin-bottom:20px;
}
.cartlist .cart_result .notice {
    padding-top: 34px;
    margin-left:20px;
}
.cartlist .cart_result .notice .txt {
    display: block;
    position: relative;
    padding: 5px 0 0 10px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.5px;
}