@charset "UTF-8";


.product_view {
    width: 1050px;
    margin: 0 auto;
    padding-top: 20px;
}
#productview .product .photo {
    width: 430px;
    height: 552px;
}

#productview .product {
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_view * {
    font-family: noto sans;
    color: #333;
    letter-spacing: -.5px;
}

#productview .p_name{
    float: right;
    width: 560px;
    padding: 0 10px 15px 0;
}

#productview .p_name .name{
    display: block;
    padding-right: 60px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    word-break: break-all;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.p_name {
    border-bottom: 2px solid #333;
}
.p_name strong{
    font-size: 24px;
    color: black;
    line-height: 26px;
    margin: 0 0 3px;
}
.p_name .name_detail{
    font-size: 12px;
    color: gray;
}


.product_view table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
  }
.product_view table {
    float: right;
    width: 560px;
    border-bottom: 1px #f4f4f4;
}
.product_view table th, 
.product_view table td{
    padding:14px 0;
    font-size: 15px;
    color: #444;
    text-align: left;
}
.product_view table th{
    font-size: 15px;
    color: #444;
    text-align: left;
}
.product_view table td{
    font-size: 15px;
    color: #444;
}
.product_view table th img{
    position: relative;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
}
#productview .option .opt {
    overflow: hidden;
    float: left;
    width: 88px;
    height: 30px;
    border: 1px solid #dddfe1;
    border-radius: 3px;
}

.btn.minus.off {
    background-image: url("/resources/main/images/remove.png");	
}

#productview .opt .btn.minus, .option .opt .btn.minus, .btn.plus {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 18px, 18px;
    background-position: 50% 50%;
}

.opt .btn.minus {
	background-image: url("/resources/main/images/remove.png");	
}

#productview .opt .btn {
	width : 26px;
	height: 27px;
}

/* #productview .option .opt .minus { */
/* /*     background-image: url("/resources/main/images/remove.png") no-repeat 50% 50%; */ */
/*     margin-left: -1px; */
/*     background-size: 18px 18px; */
/* } */
#productview .option .opt .minus, .plus{
    overflow: hidden;
    float: left;
    width: 26px;
    height: 28px;
    border: none;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background : none;
}
#productview .option .opt .inp{
   float: left;
    width: 30px;
    height: 30px;
    margin-right: -2px;
    margin-left: 3px;
    padding: 0 0 4px;
    border: 0;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    text-align: center;
}

#productview .option .opt .plus {
/* background-image: url("/resources/main/images/plus.png"); */
	float:right;
	margin-left: -1px;
 	background-size: 18px 18px; 
}

.product_view table td.price{
    font-size: 28px;
    color: blue;
    font-weight: 700;
}

#cartput .total .price {
    float: right;
    width: 560px;
    text-align: right;
    margin-top: 50px;
}
#cartput .total .price .tot{
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    vertical-align: 2px;
}
#cartput .total .price .sum{
    font-size: 28px;
    font-weight: 700;
    padding-left: 8px;
    line-height: 28px;
}
.option_btn {
    float: right;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 100px;
}
.p_detail_info {
    min-width: 1050px;
    margin: 0 auto;
    padding-top: 56px;
    position: relative;
    clear: both;
}

.p_detail_info .p_detail_bar{
    position: absolute;
    width: 100%;
    height: 55px;
    clear: both;
    background:  #96a3ad;
    border-bottom: 1px solid #96a3ad;
    top: 0;
    left: 0;
    }

.p_detail_info .p_detail_bar ul {
    padding: 9px 0 0;
    height: 46px;
    position: relative;
    overflow: hidden;
    }
    
.p_detail_bar li{
    float: left;
}

.p_detail_bar .menu li {
    display: block;
    height: 30px;
    color: #fff;
    font-size: 20px;
    font-weight:700;
    line-height: 30px;
    letter-spacing: -1px;
    padding: 4px 88px;
}
.menu .menu1 {
	margin-left:10px;
}
.p_detail_img img {
    display: block;
    width: 1010px;
    height: 670px;
    margin-bottom: 100px;
    font-family: noto sans;
    font-weight: 200;
    letter-spacing: 0;
    
}
.p_detail_img .main_img {
    padding-top: 40px;
    min-height: 500px;
    margin-bottom: 50px;
}

.description .d_wrapper {
    margin-bottom: 170px;   
}

.description .d_wrapper .d_title {
    display: block;
    margin: 75px 0 0;
    font-size: 40px;
    text-align: center;
   
}

.description .d_wrapper .d_subtitle{
  display: block;
  font-size: 30px; 
  text-align: center;
  border-bottom: 1px solid #c1c1c1;
  color: #666;
  padding-bottom: 30px;
} 

.description .d_wrapper .descript {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.p_reviewbar h1 {
    display: inline-block;
    position: relative;
    font-size: 50px;
    font-family: noto sans;
    color: #666;	
}

.d_wrapper .p_reviewbar h1:before {
	content: " ";
    position:absolute;
    top: 40px;
    width: 1050px;
    height: 1px;
    background: #b9b9b9;
}

.p_qna h1{
    display: inline-block;
    position: relative;
    font-size: 50px;
    font-family: noto sans;
    color: #666;
}

.d_wrapper .p_qna h1:before {
    content: " ";
    position:absolute;
    top: 40px;
    width: 1050px;
    height: 1px;
    background: #b9b9b9;
}

.d_wrapper h1 .campustip, .p_reviewbar h1 span {
    position: relative;
    display: inline-block;
    margin-left: 350px;
    padding: 0 15px;
    background: #fff;
    font-weight: 700;
}

.p_qna {
	margin-top:50px;
}

.p_qna h1 span {
	margin-left: 450px;
}
.row .btn-primary {
	margin-right:20px;
}

.d_wrapper h1 .tipkor , .p_reviewbar .star , .p_qna .qna_subtit{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    font-size: 23px;
    margin-bottom: 40px;
}
.p_reivewbar .star {
	margin-left:350px;
}

.p_qna .qna_subtit{
	margin-left:380px;
	font-size:20px;
}

.tip_info {
    width: 1050px;
    height: 120px;
}
.tip_info .tip_icon img{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 200px;
}
.tip_detail {
    margin-bottom: 50px;
}

.size_info img {
    width: 400px;
    height: 400px;
}
.tip_detail {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.tip_detail .detail1 {
    margin-right: 5px;
}
.tip_detail .detail2 {
    margin-right: 30px;
    margin-left: 10px;
}
.size_info .size img{
	
    margin-top:100px;
    width : 400px;
	height: 400px;
}

.size_info .size .p_size {
	
	margin-left:40px;
}

.p_reviewbar .table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #888;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #888;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #888;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #888;
    vertical-align: top;
    border-color: rgba(0, 0, 0, 0.05);
}
table {
    caption-side: bottom;
    border-collapse: collapse;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
.p_reviewbar table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.mypagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}